doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        form(action="http://localhost:3030/add", method="post", id='submit-form') 
            label
                div Client Name 
                input(type="text" name="clientName" value="John", id="name")
            label
                div Client Surname 
                input(type="text", name="clientSurname", value="Johnson", id="surname")
                label
                div Client Phone 
                input(type="text", name="clientPhone", value="88005553535", id="phone")

            label
                div City 
                select(name="city", id="city")
                    each val, index in cities
                        option #{val.cityName}
            
            label
                div Clinic 
                select(name="clinic", id="clinic")
                    each val, index in clinics 
                        option #{val.clinicName}

            label
                div Specialist 
                select(name="specialist", id="specialist")
                    each val, index in specialists 
                        option #{val.specialistTypeDescription} #{val.specialistName} #{val.specialistSurname}

            label
                div Service 
                select(name="service", id="service")
                    each val, index in services 
                        option #{val.serviceName}
        
            input(type="submit", id="submit-btn", value="Add")
    

    //- script(src="scripts/submit_add.js") 