doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        table 
            tr 
                th Option 
                th Value 
            tr 
                td Contract Code 
                td #{result.ContractCode}
            tr 
                td Client Code 
                td #{result.ClientCode}
            tr 
                td Client Name 
                td #{result.ClientName}
            tr 
                td Client Surname  
                td #{result.ClientSurname}
                tr 
                td Client Phone Number 
                td #{result.ClientPhoneNumber}
            tr 
                td City Code 
                td #{result.CityCode}
            tr 
                td City Name 
                td #{result.CityName}
            tr 
                td Clinic Code 
                td #{result.ClinicCode}
            tr 
                td Clinic Name 
                td #{result.ClinicName}
            tr 
                td Specialist Code 
                td #{result.SpecialistCode}
            tr 
                td Specialist Type 
                td #{result.SpecilaistTypeDescription}
            tr 
                td Specialist Name 
                td #{result.SpecialistName}
            tr 
                td Specialist Surname 
                td #{result.SpecialistSurname}
            tr 
                td Service Code 
                td #{result.ServiceCode}
            tr 
                td Service Name 
                td #{result.ServiceName}
            tr 
                td Service Price 
                td #{result.ServicePrice}